<div class="row">
    <div class="col-lg-12">
        <div class="form-group">
            <label class="form-control-label">Benefits Description</label>
            <input type="text" id="id_{{ impact }}_benefits_description" 
                   name="{{ impact }}_benefits_description" 
                   class="form-control">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label class="form-control-label">UOM</label>
            <input type="text" id="id_{{ impact }}_uom" 
                   name="{{ impact }}_uom" 
                   class="form-control">
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label class="form-control-label">Before Implementation</label>
            <input type="text" id="id_{{ impact }}_before_implementation" 
                   name="{{ impact }}_before_implementation" 
                   class="form-control">
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label class="form-control-label">After Implementation</label>
            <input type="text" id="id_{{ impact }}_after_implementation" 
                   name="{{ impact }}_after_implementation" 
                   class="form-control">
        </div>
    </div>
</div>